
/* General Styles */




/* 
-------------Welcome page----------------> */
#welcome-page{
    margin-bottom: 0%;
    padding-top: 100px;
    padding-bottom: 10px;
}
#welcome-page h1{

    font-family: 'Lora', serif; /* Elegant serif font */
    color: #333; /* Dark text color */
    text-align:center; /* Center alignment */
    margin: 1px; /* Margin around the heading */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle text shadow */
    

}
#welcome-page p{
    font-size:0.9rem;
    font-weight: bold;
    padding: left;
    
}
#welcome-page h1::first-letter{
 
    font-weight: bold;
    color: #674636;
}
#welcome-page p::first-letter {
  
    font-weight: bold;
    color: #674636;
}





/* ---------------Animations-------------- */

/*------------Fly-In---------------> */
/* @keyframes flyIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fly-in {
    animation: flyIn 3s forwards;
} */

/* Infinite loop----> */
@keyframes flyIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    80% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1; /* The element stays at the final position for the pause */
    }
}

.fly-in {
    animation: flyIn 6s ease-in-out infinite;
    animation-fill-mode: forwards;
}

/* Grow and trun------------> */
@keyframes growTurn {
    0% {
        transform: scale(0.5) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

.grow-turn {
    animation: growTurn 3s forwards;
}

/*----------- Swivel----------- */
@keyframes swivel {
    0% {
        transform: rotateY(90deg);
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
    }
}

.swivel {
    animation: swivel 2.5s forwards;
}


/* Typing animation---------------- */
.typing-container {
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 0;
    animation: typing 5s steps(11) 2s infinite, blink 12s step-end infinite;
  }
  
  @keyframes typing {
    0% { width: 0; }
    50% { width: 70ch; }
    100% { width: 0; }
  }
  
  @keyframes blink {
    from { border-color: transparent; }
    to { border-color: black; }
  }


/* General Section Styles */
section {
    /* padding: 60px 20px; */
    text-align: center;
    border-bottom: 1px solid #000500; /* Border between sections */
    
}

section img {
    width: 100%;
    height: 100;
    object-fit: cover;
}

section .content {
    margin-top: 10px;
}
#eco-friendly-packaging{
    padding: 0px 20px;
}




/* --------------About Us---------------------------------------------- */
#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBD3F8;
    padding-left: 0px;
    margin-bottom: 4rem;
    
    
}

#about-us img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#about-us .content {
    max-width:70%;
    text-align: center;
    font-weight: bold;
    
}

#about-us h2 {
    font-size: 1.375rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}



#about-us p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight:400;
    color: #333;
    margin-bottom: 3px;
    text-align: justify;
}

#about-us p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #674636;
}

#about-us .content p {
    padding: 0 0rem;
}

/* Optional: Add a subtle animation to the section */
#about-us {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* ---------Our Products Range-------------------------------------------------------> */

/* <!--Recipe Suggestions Section -------------------------------------> */
/* Recipe Suggestions Section */
/* Subproduct card styles with specific background images */


#products1 {
    background-color: #f4f4f4; /* Or your existing background-image */
    padding: 2rem 1rem;
    text-align: center;
    margin-bottom: 4rem; /* Adds a 4rem gap below this section */
    
}

.subproducts {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping if the screen size is smaller */
    justify-content: center; /* Center the items horizontally */
    gap: 2rem; /* Add space between cards */
}

.subproduct {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 300px; /* Keep a fixed width for each card */
    text-align: left;
    margin: 0; /* Remove vertical margin since gap handles spacing */
}



.subproduct:nth-child(1) {
    background-image: url('./images/Batter/IdliBatter.jpeg'); /* Replace with actual image for Idli Batter */
    background-size: cover;
    background-position: center;
    color: #fff; /* Ensure text stands out on the image */
    border-radius: 8px;
    padding: 1.5rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.subproduct:nth-child(2) {
    background-image: url('./images/Batter/RiceBatter.jpeg'); /* Replace with actual image for Dosa Batter */
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.subproduct:nth-child(3) {
    background-image: url('./images/Batter/RagiBatter.jpeg'); /* Replace with actual image for Ragi Dosa Batter */
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Hover effects */
.subproduct:hover {
    transform: translateY(-5px);
}

/* Subproduct heading and paragraph adjustments */
.subproduct h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.subproduct p {
    font-size: 0.9rem;
    color: #fff;
}

.btnn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #5a6e2f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btnn:hover {
    background-color: #acd751;
    transform: scale(1.05);
}











#products {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 50px 20px;
}

#products img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#products .content {
    font-weight: bold;
    font-weight:400;
    max-width:70%;
    text-align: justify;
}


#products h2 {
    font-size: 1.375rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  
}

#products p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight:400;
    color: #333;
    margin-bottom: 20px;
}

#products ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

#products ul li {
    font-size: 1rem;
    margin: 10px 0;
    text-align: left;
}

#products ul li strong {
    color: #674636;
}

#products p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: #674636;
}

/* Fade-in animation for the section */
#products {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
    /* Slider------------------------------------- -------------------------*/

/* Targeting only the slider inside #slider-container */
#slider-container .slider {
    width: 800px;
    height: 400px;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

#slider-container .slides {
    width: 400%;
    height: 100%;
    display: flex;
    transition: transform 0.6s ease-in-out;
}

#slider-container .slide {
    width: 100%;
    height: 100%;
}

#slider-container .slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Radio button checked to slide transformation */
#radio1:checked ~ .slides {
    transform: translateX(0%);
}
#radio2:checked ~ .slides {
    transform: translateX(-100%);
}
#radio3:checked ~ .slides {
    transform: translateX(-200%);
}
#radio4:checked ~ .slides {
    transform: translateX(-300%);
}

/* Navigation and buttons */
#slider-container .navigation-auto,
#slider-container .navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

#slider-container .manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    transition: background 0.4s;
}

#slider-container .manual-btn:hover {
    background: #fff;
}

#slider-container .navigation-auto div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin: 10px;
    transition: background 0.4s;
}

#slider-container .auto-btn1.active,
#slider-container .auto-btn2.active,
#slider-container .auto-btn3.active,
#slider-container .auto-btn4.active {
    background-color: #333;
}








/* ---------------How we differ-----------------------------------------> */
#how-we-differ{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBD3F8;
    padding: 50px 20px;
    color: #111;
}

#how-we-differ img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#how-we-differ .content {
    font-weight:400;
    max-width:70%;
    text-align:justify;
}

#how-we-differ h2 {
    font-size: 1.375rem;
    color: #111;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

#how-we-differ p {
    font-size: 1rem;
    font-weight:400;
    line-height: 1.;
    color: #111;
    margin-bottom: 20px;
}

#how-we-differ ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

#how-we-differ ul li {
    font-size: 1rem;
    margin: 10px 0;
    text-align: left;
}

#how-we-differ ul li strong {
    color: #674636;
}

#how-we-differ p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    color: #674636;
}

/* Fade-in animation for the section */
#how-we-differ {
    opacity: 0;
    animation: fadeIn 1s forwards;
}
.eco-benefits{
    text-align:center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
/* <!-- FAQ Section -------------------------------> */
#faq {
    padding: 50px ;
    background-color: #EBD3F8;
}

#faq h2 {
    font-size: 1.375rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.faq-question {
    width: 85%;
    background-color: #AD49E1;
    color: white;
    font-size: 1rem;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.faq-question:hover {
    background-color: #7A1CAC;
}

.faq-answer {
    display: none;
    padding: 2px;
    background-color: #EBD3F8;
    color: #111;
    font-size: 0.80rem;
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
}

.faq-answer p {
    margin: 0;
}

/* Toggle display when open */
.faq-item.open .faq-answer {
    display: block;
}

/* Transition for a smooth dropdown effect */
.faq-answer {
    transition: max-height 0.5s ease-in-out;
}

/* Add icons for opening and closing */
.faq-question::after {
    content: '\002B'; /* Plus sign */
    font-size: 1rem;
    float: right;
}

.faq-item.open .faq-question::after {
    content: '\2212'; /* Minus sign */
}

/* Optional: Fade-in effect */
.faq-answer {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


/* <!--Recipe Suggestions Section -------------------------------------> */
/* Recipe Suggestions Section */
#recipe-suggestions {
    background-color: #f4f4f4;
    padding: 2rem 1rem;
    text-align: center;
}

#recipe-suggestions .container {
    max-width: 1200px;
    margin: 0 auto;
}

#recipe-suggestions h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2E073F;
}

#recipe-suggestions p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #333;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.recipe {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 300px;
    text-align: left;
}

.recipe h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #2E073F;
}

.recipe p {
    font-size: 0.9rem;
    color: #666;
}
.btnn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #5a6e2f;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.btnn:hover {
    background-color: #acd751;
}




/* <!-- Contact Section ---------------------------------------------------> */
.contact-footer {
    background-color: #2E073F;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newsletter-section h2, .social-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

.newsletter-form input {
    padding: 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    width: 300px;
}

.newsletter-form button {
    background-color: #7fbe46;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.social-section p {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

.social-links a svg {
    margin-right: 8px;
    fill: #fff;
    transition: fill 0.3s ease;
}

.social-links a:hover svg {
    fill: #1877F2;
}






/* Social Media Buttons Styles */
.social-media {
    margin-top: 1rem;
}

.social-btn {
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease;
}

.social-btn:hover {
    background-color: #555;
}

.social-icon {
    width: 24px; /* Adjust size as needed */
    height: auto;
    margin-right: 0.5rem;
}


.footer-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}



/* Contact us inquiries */

/* Contact Form Styles */
#contact {
   
    padding: 50px;
    text-align: center;
}

#contact .container {
    max-width: 600px;
    margin: 0 auto;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
   
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact label {
    font-size: 1rem;
}

#contact input,
#contact textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#contact button {
    background-color: #5a6e2f;
    color: white;
    border: none;
    padding: 0.75rem;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #acd751;
}

/* Resoponsive --------------*/

/* For mobile screens */
@media (max-width: 40px) {
        #welcome-page{
            width: 100%;
            height: 200px;
            margin-bottom: 0%;
        }
    
    .banner{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

   .welcome-page{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
   }

   h3{
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    letter-spacing:-19px;
    font-family: 'Poppins', sans-serif;
   }
  }

  p{
    font-family: 'Poppins', sans-serif;
}